<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technique Builder</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/music_note.png' %}">
    <link rel="stylesheet" href="{% static 'style/technique_builderStyle.css' %}">
</head>
{% include 'music_app/navbar.html' %}
<body>
    <div class="center">
        {# White box in the center #}
        {% if user.is_authenticated %}
            <div class="console">
                <h3>Your Exercises</h3>
                {% for exercise in exercises %}
                    {{ exercise.name }}
                {% endfor %}
            </div>
        {# Button to start/stop #}
        <button class="create_exercise_button" onclick="{% url "create_exercise" %}">Create Exercise</button>
        {% else %}
            <div class="console">
                Please log in to create an exercise!
            </div>
        {% endif %}
    </div>
</body>
</html>