<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technique Builder</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/music_note.png' %}">
    <link rel="stylesheet" href="{% static 'style/technique_builderStyle.css' %}">
</head>
{% include 'music_app/navbar.html' %}
<body>
    <div class="center">
        {# White box in the center #}
        {% if user.is_authenticated %}
            <div class="console">
                <h3>Your Exercises</h3>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Sets</th>
                            <th>Starting Bpm</th>
                            <th>Current Bpm</th>
                        </tr>
                        {% for exercise in exercises %}
                        <tr>
                            <td>{{ exercise.name }}</td>
                            <td>{{ exercise.sets }}</td>
                            <td>{{ exercise.starting_bpm }}</td>
                            <td>{{ exercise.current_bpm }}</td>
                        </tr>
                        {% endfor %}
                    </table>
            </div>
        {# Button to start/stop #}
        <a class="create_exercise_button" href="{% url "create_exercise" %}">Create New Exercise</a>
        {% else %}
            <div class="console">
                Please log in to create an exercise!
            </div>
        {% endif %}
    </div>
</body>
</html>