<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interval Recognition</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/music_note.png' %}">
    <link rel="stylesheet" href="{% static 'style/pitch_recognitionStyle.css' %}">
</head>
{% include 'music_app/navbar.html' %}
<body>
    <div class="center">
        {# Control Box #}
        <div class="console">
            <div class="music_note">
                <img src="{% static 'images/music_note.png' %}" alt="Music Note">
                <select name="select_mode" id="select_mode">
                    <option value="Ascending">Ascending</option>
                    <option value="Descending">Descending</option>
                    <option value="Concurrent">Concurrent</option>
                </select>
            </div>
            <div class="controls">
                Select Interval Groups
                <hr>
                <div class="wrapper">
                    <button id=1 value=0 onclick="return selectInterval(1)">Min 2nds</button>
                    <button id=2 value=0 onclick="return selectInterval(2)">Maj 2nds</button>
                </div>
                <div class="wrapper">
                    <button id=3 value=0 onclick="return selectInterval(3)">Min 3rds</button>
                    <button id=4 value=0 onclick="return selectInterval(4)">Maj 3rds</button>
                </div>
                <div class="wrapper">
                    <button id=5 value=0 onclick="return selectInterval(5)">Perfect 4ths</button>
                    <button id=6 value=0 onclick="return selectInterval(6)">Aug 4ths/ Dim 5ths</button>
                    <button id=7 value=0 onclick="return selectInterval(7)">Perfect 5ths</button>
                </div>
                <div class="wrapper">
                    <button id=8 value=0 onclick="return selectInterval(8)">Min 6ths</button>
                    <button id=9 value=0 onclick="return selectInterval(9)">Maj 6ths</button>
                </div>
                <div class="wrapper">
                    <button id=10 value=0 onclick="return selectInterval(10)">Min 7ths</button>
                    <button id=11 value=0 onclick="return selectInterval(11)">Maj 7ths</button>
                </div>
                <button id=12 value=0 onclick="return selectInterval(12)">Octaves</button>
            </div>
        </div>
        {# Button to start/stop #}
        <button class="start_exercise_button" id="trigger_interval" onclick="return triggerInterval()">Start Exercise</button>

        {# Interval display section (answers that appear based on selection above) #}
        <div id="answer_section" class="answer_section">
            <div id="answers_text" class="answers_text">Which interval do you hear?</div>
            <div class="interval_answers">
                <button id="1 display" onclick="return startExercise(1)" hidden>Min 2nd</button>
                <button id="2 display" onclick="return startExercise(2)" hidden>Maj 2nd</button>
                <button id="3 display" onclick="return startExercise(3)" hidden>Min 3rd</button>
                <button id="4 display" onclick="return startExercise(4)" hidden>Maj 3rd</button>
                <button id="5 display" onclick="return startExercise(5)" hidden>Perfect 4th</button>
                <button id="6 display" onclick="return startExercise(6)" hidden>Aug 4th/Dim 5th</button>
                <button id="7 display" onclick="return startExercise(7)" hidden>Perfect 5th</button>
                <button id="8 display" onclick="return startExercise(8)" hidden>Min 6th</button>
                <button id="9 display" onclick="return startExercise(9)" hidden>Maj 6th</button>
                <button id="10 display" onclick="return startExercise(10)" hidden>Min 7th</button>
                <button id="11 display" onclick="return startExercise(11)" hidden>Maj 7th</button>
                <button id="12 display" onclick="return startExercise(12)" hidden>Octave</button>
            </div>
        </div>
        <button class="repeat_button" id="repeat" onclick="return repeat()">Repeat?</button>
    </div>

    {# Interval Script #}
    <script src={% static 'scripts/interval.js' %}></script>
</body>
</html>