<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music App Home</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/music_note.png' %}">
    <link rel="stylesheet" href="{% static 'style/homeStyle.css' %}">
</head>
<body>
    {% include 'music_app/navbar.html' %}
    <div class="panels">
        <div class="left">
            <a href="{% url "internal_tempo" %}">
                <img src="{% static "images/metronome.jpg" %}">
            </a>
            <p>Improve your internal sense of time by clapping along to a sparse metronome click.</p>
        </div>
        <div class="middle">
            <a href="{% url "technique_builder" %}">
                <img src="{% static "images/dumbell.png" %}">
            </a>
            <p>Set up a workout routine to help improve your technique.</p>
        </div>
        <div class="right">
            <a href="{% url "pitch_recognition" %}">
                <img src="{% static "images/treble_clef.png" %}">
            </a>
            <p>Improve your interval recognition by identifying the distance between random notes.</p>
        </div>
    </div>
</body>
</html>