:root {
    --tempothemecolor-darkest: #013d57;
    --tempothemecolor-darker: #025275;
    --tempothemecolor: #0380a1;
    --tempothemecolor-lighter: #0294c0;
    --tempothemecolor-lightest: #04b3f1;

    --exercisethemecolor-darkest: #810202;
    --exercisethemecolor-darker: #ab0404;
    --exercisethemecolor: #ff4646;
    --exercisethemecolor-lighter: #ff7b7b;
    --exercisethemecolor-lightest: #ff9090;

    --pitchthemecolor-darkest: #bea400;
    --pitchthemecolor-darker: #d0b514;
    --pitchthemecolor: #ffe300;
    --pitchthemecolor-lighter: #fff319;
    --pitchthemecolor-lightest: #fff44d;
}

body {
    font-family: "Palatino Linotype", sans-serif;
    color: white;
    margin: 0;
    height: 92vh;
}

.panels {
    display: flex;
    flex-direction: row;
    text-align: center;
    border: solid black;
    height: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    height: 100%;
    background-image: linear-gradient(to right, var(--tempothemecolor-darker), var(--tempothemecolor));
}

.left img {
    width: 150px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    overflow: hidden;
    border-right: solid black;
    border-left: solid black;
    background-image: linear-gradient(to right, var(--exercisethemecolor-darker), var(--exercisethemecolor));
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    overflow: hidden;
    background-image: linear-gradient(to right, var(--pitchthemecolor-darker), var(--pitchthemecolor));
}