@import './root.css';

body {
    font-family: "Palatino Linotype", sans-serif;
    font-size: 20px;
    margin: 0;
    height: 92vh;
    color: white;
}

.panels {
    display: flex;
    flex-direction: row;
    text-align: center;
    border: solid black;
    height: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    height: 100%;
    background-image: linear-gradient(to right, var(--tempothemecolor-darker), var(--tempothemecolor));
}

.left img {
    width: 150px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    overflow: hidden;
    border-right: solid black;
    border-left: solid black;
    background-image: linear-gradient(to right, var(--exercisethemecolor-darker), var(--exercisethemecolor));
}

.middle img {
    width: 150px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    overflow: hidden;
    background-image: linear-gradient(to right, var(--pitchthemecolor-darker), var(--pitchthemecolor));
}

.right img {
    width: 150px;
}

p {
    width: 300px;
}