.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    text-align: center;
    color: white;
}

.login img{
    width: 40px;
}

.login a{
    color: white;
}