body {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    background-color: #ababab;
    font-family: sans-serif;
}

h1 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 42px;
}

.metronome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 24px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

.trigger_metronome_button {
    background-color: #2c79da;
    border: none;
    color: white;               /* Font color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 4px;         /* Rounded edges */
}

.trigger_metronome_button:hover {
    background-color: #338eff;
}

.container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

input[type=number] {
    border: none;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}

input[class=tempo] {
    width: 80px;
}

input[class=rate] {
    width: 60px;
}

input[class=beats] {
    width: 40px;
}

select{
    border: none;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}