@import './root.css';

html {
    background-image: linear-gradient(to right, var(--techniquethemecolor-darker), var(--techniquethemecolor));
}

body {
    font-family: "Palatino Linotype", sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}

.console {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 10px 20px;
}

.create_exercise_button {
    background-color: var(--techniquethemecolor);
    border: none;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Palatino Linotype", sans-serif;
    font-size: 18px;
    color: var(--fontcolor);
    border-radius: 4px;
}

.create_exercise_button:hover {
    background-color: var(--techniquethemecolor-lighter);
}