@import './root.css';

html {
    background-image: linear-gradient(to right, var(--techniquethemecolor-darker), var(--techniquethemecolor));
}

body {
    font-family: "Palatino Linotype", sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}

.console {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 10px 20px;
}

.console h3 {
    margin-top: 10px;
}

.console table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.helptext{
    font-size: 15px;
}

#id_name {
}
#id_description {
    width: 200px;
    height: 75px;
}
#id_sets {
    width: 50px;
}
#id_starting_bpm {
    width: 50px;
}
#id_dynamic {
    height: 25px;
    width: 25px;
}

.create_exercise_button {
    background-color: var(--techniquethemecolor);
    border: none;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Palatino Linotype", sans-serif;
    font-size: 18px;
    color: var(--fontcolor);
    border-radius: 4px;
}

.create_exercise_button:hover {
    background-color: var(--techniquethemecolor-lighter);
}