<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internal Tempo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '' %}">
</head>
<body>
    <h1>Internal Tempo</h1>

    <label>Tempo (BPM):
        <input type="number" id="tempo" value=120 max="500" min="10">
    </label><br>
    <label>Rate: Every
        <input type="number" id="rate" value=1 max="64" min="1"> measure(s)
    </label><br>
    <label>Time Signature:
        <input type="number" id="beats" value=4 max="16" min="1">/
        <input type="number" id="division" value=4 max="16" min="1">
    </label><br>

    {# Click Script #}
    <script src="/static/scripts/click.js"></script>

    <button id="trigger_metronome" onclick="triggerMetronome()">Start Exercise</button>

</body>
</html>